/* Estilos para a lista de paginação */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

/* Estilos para os itens da lista de páginas */
.page-item {
    margin: 0;
}

/* Estilos para os links das páginas */
.page-link {
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 1px solid #ccc;
    color: #333;
    border-radius: 4px;
    margin: 2px;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilo para o link da página ativa */
.page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}

/* Estilos para os links de navegação "Previous" e "Next" */
.page-link[aria-label="« Previous"], .page-link[aria-label="Next »"] {
    font-weight: bold;
}
